.Header{
    height: 150px;
    padding-top: 25px;
}
.Logo{
    float: left;
}
.Header nav{
    display: inline-block;
    padding-top: 25px;
}
.Header nav li{
    display: inline-block;
    padding-left: 25px;
}
.Links{
    text-decoration: none;
}